body {
  background: linear-gradient(135deg, #646f7a 0%);
}
.container{
    padding: 30px;
}
.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
}
.form input{
    padding: 10px;
    font-size: 16xp;
    border-radius: 30px;
}
.form button{
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}
h1 {
    text-align: center;
}